In [16]:
import pandas as pd

### Read the csv

In [17]:
df = pd.read_csv('sample_data/03_Library Systembook.csv')

### Remove NaN

In [18]:
df = df.dropna()

### Standardise column names

In [19]:
df.columns = df.columns.str.lower().str.replace(' ','_')

### Cast as ints

In [20]:
df = df.astype({'id': int, 'customer_id': int})

### Remove leading and trailing spaces

In [21]:
df['books'] = df['books'].str.strip()

### Remove quotation marks

In [22]:
df['book_checkout'] = df['book_checkout'].str.replace('"','',regex=False)

### Add actual numbers

In [23]:
df['days_allowed_to_borrow'] = df['days_allowed_to_borrow'].str.replace('2 weeks','14',regex=False).astype(int)

### Sort out titles

In [24]:
df['books'] = df['books'].str.title()

mask = df['books'].str.startswith('Lord Of The Rings', na=False)
df.loc[mask,'books'] = df.loc[mask,'books'].str.replace('Kind','King',regex=False)

### Check for invalid dates and remove

In [25]:
for col in ['book_checkout', 'book_returned']:
    df[col] = pd.to_datetime(df[col], dayfirst=True, errors='coerce')

In [26]:
from checkout_days import checkout_days

df['days_borrowed'] = df.apply(lambda row: checkout_days(row['book_checkout'],row['book_returned']), axis=1).astype('Int64')

### Output to csv

In [27]:
df.to_csv('output_data/books_output.csv', index=False)

In [28]:
df

,id,books,book_checkout,book_returned,days_allowed_to_borrow,customer_id,days_borrowed
0,1,Catcher In The Rye,2023-02-20,2023-02-25,14,1,5
1,2,Lord Of The Rings The Two Towers,2023-03-24,2023-03-21,14,2,-3
2,3,Lord Of The Rings The Return Of The King,2023-03-29,2023-03-25,14,3,-4
3,4,The Hobbit,2023-04-02,2023-03-25,14,4,-8
4,5,Dune,2023-04-02,2023-03-25,14,5,-8
5,6,Little Women,2023-04-02,2023-05-01,14,1,29
6,7,It,2063-04-10,2023-04-03,14,6,-14617
7,8,Misery,2023-04-15,2023-04-03,14,7,-12
8,9,Catch 22,2023-04-15,2023-04-16,14,7,1
9,10,Animal Farm,2023-04-20,2023-04-24,14,2,4
10,11,1984,2023-04-23,2023-04-27,14,8,4
11,12,Little Women,2023-04-02,2023-05-01,14,1,29
12,13,East Of Eden,2023-04-30,2023-05-05,14,2,5
13,14,America Is In The Heart,2023-05-01,2023-05-07,14,3,6
14,15,Wuthering Heights,2023-05-01,2023-05-10,14,9,9
15,16,Dark Tales,2023-05-15,2023-06-01,14,2,17
16,17,The Bloody Chamber,NaT,2023-06-04,14,3,<NA>
17,18,Les Miserables,2023-06-03,2023-06-07,14,5,4
18,19,Dracula,2023-06-10,2023-07-10,14,10,30
19,20,Frankenstein,2023-06-01,2023-06-20,14,2,19