### Imports

In [12]:
import pandas as pd

### Read csv

In [13]:
df = pd.read_csv('sample_data/03_Library SystemCustomers.csv')

### Drop null values

In [14]:
df = df.dropna(subset='Customer ID')

### Cast Integers

In [15]:
df = df.astype({'Customer ID': int})

### Output to csv

In [16]:
df.to_csv('customers_output.csv', index=False)

In [17]:
print(df)

   Customer ID     Customer Name
0            1          Jane Doe
1            2        John Smith
2            3        Dan Reeves
4            5    William Holden
5            6     Jaztyn Forest
6            7     Jackie Irving
7            8  Matthew Stirling
8            9         Emory Ted